{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">JobSeeker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <a href="{{ url_for('home') }}" class="btn btn-success me-2">Home</a>
                    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                </form>
            </div>
        </div>
    </nav>

    <section class="mb-3">
        <form method="post" action="/jobseekerprofile">
            {{ form.hidden_tag() }}
            {{ form.user_id(value=current_user.id, class='d-none') }}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4>Personal Details: </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="fname" class="form-label">First Name</label>
                            {{ form.firstname(placeholder="First Name", class="form-control") }}
                            {% for error in form.firstname.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="lname" class="form-label">Last Name</label>
                            {{ form.lastname(placeholder="Last Name", class="form-control") }}
                            {% for error in form.lastname.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            {{ form.email(placeholder="name@example.com", class="form-control" ) }}
                            {% for error in form.email.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone Number</label>
                            {{ form.phone(class="form-control" ) }}
                            {% for error in form.phone.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            {{ form.address(class="form-control" ) }}
                            {% for error in form.address.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4>Skills: </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="programming_languages" class="form-label">Programming Languages</label>
                            {{ form.programming_languages(class="form-control" ) }}
                            {% for error in form.programming_languages.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="tools" class="form-label">Tools</label>
                            {{ form.tools(class="form-control" ) }}
                            {% for error in form.tools.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4>Education Details: </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="degree" class="form-label">Degree</label>
                            {{ form.degree(class="form-control" ) }}
                            {% for error in form.degree.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="dept" class="form-label">Department</label>
                            {{ form.dept(class="form-control" ) }}
                            {% for error in form.dept.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="current_status" class="form-label">Current Status</label>
                            {{ form.current_status(class="form-control" ) }}
                            {% for error in form.current_status.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="cgpa" class="form-label">CGPA</label>
                            {{ form.cgpa(class="form-control" ) }}
                            {% for error in form.cgpa.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="x_percent" class="form-label">Class X<sup>th</sup> %</label>
                            {{ form.x_percent(class="form-control" ) }}
                            {% for error in form.x_percent.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="xii_percent" class="form-label">CGPA XII<sup>th</sup> %</label>
                            {{ form.xii_percent(class="form-control" ) }}
                            {% for error in form.xii_percent.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        {{ form.submit(class="btn btn-success float-end") }}
                    </div>
                </div>
            </div>
        </form>
    </section>


{% endblock %}