<table class="table table-hover" id="job_offer_table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Job Title</th>
        <th scope="col">Applications Left</th>
        <th scope="col">Skills Required</th>
        <th scope="col">Details</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for job in joboffers %}
        <tr>
            <th scope="row">{{ job.id }}</th>
            <td>{{ job.job_title }}</td>
            <td>{{ job.total_applications }}</td>
            <td>{{ job.skill_required }}</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
    {% endfor %}
    </tbody>
</table>